.change-color {
  max-width: 148px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #fff;
  transition: background-color 250ms ease-in-out;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  margin: 16px auto;
}

.widget {
  display: flex;
  flex-direction: column;
  text-align: center;
}
