.login-form {
  flex-direction: column;
}

label {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.input-email,
.input-password {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 360px;
  padding: 8px 16px;
  margin-bottom: 8px;

  transition: border 250ms ease-in-out;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.input-email:hover,
.input-password:hover {
  border: 1px solid #000;
}

.input-email:focus,
.input-password:focus {
  outline: none;
  box-shadow: none;
}

.submit-btn {
  border: none;
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  font-weight: 500;
  color: #fff;
  transition: background-color 250ms ease-in-out;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #6c8cff;
}
