h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
}

.input-name {
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 360px;
  padding: 8px 16px;
  margin-bottom: 16px;

  transition: border 250ms ease-in-out;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.input-name:hover {
  border: 1px solid #000;
}

.input-name:focus {
  outline: none;
  box-shadow: none;
}
